<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<header th:fragment="header">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="spring-logo--container">
                <a class="spring-logo" href="/"><span></span></a>
            </div>
            <ul class="nav pull-right">
                <li class="navbar-link">
                    <a href="/create">Import</a>
                </li>
                <li class="navbar-link">
                    <a href="/batch-import">Batch Import</a>
                </li>
            </ul>
        </div>
    </div>
</header>
</body>
</html>