<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include="masters/master :: page">
<head>
    <title th:fragment="title">Update SSH Credential</title>
</head>
<body>
<article th:fragment="content">
    <form action="#" th:action="@{/create}" th:object="${command}" method="post">
        <label th:for="${#ids.next('server')}">Server </label>
        <input type="text" th:field="*{username}"/>
        <label th:for="${#ids.next('username')}">Username </label>
        <input type="text" th:field="*{password}"/>
        <label th:for="${#ids.next('password')}">Password </label>
        <input type="text" th:field="*{password}"/>
        <label th:for="${#ids.next('url')}">Url </label>
        <input type="text" th:field="*{url}"/>

        <div class="actions">
            <a href="/" name="back">Back</a>
            <button type="submit" name="import">Import</button>
        </div>
    </form>
</article>
</body>
</html>