<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include="masters/master :: page">
<head>
    <script th:fragment="scripts" type="text/javascript" th:inline="javascript">
        $(document).on('click', '.selector', function (event) {
            selectText('credential_' + event.target.id);
        });

        function selectText(element) {
            var doc = document,
                    text = doc.getElementById(element),
                    range,
                    selection;

            if (doc.body.createTextRange) {
                range = doc.body.createTextRange();
                range.moveToElementText(text);
                range.select();
            } else if (window.getSelection) {
                selection = window.getSelection();
                range = doc.createRange();
                range.selectNodeContents(text);
                selection.removeAllRanges();
                selection.addRange(range);
            }
        }
    </script>

    <title th:fragment="title">SSH Credential Management</title>
</head>
<body>
<article th:fragment="content">
    <table>
        <thead>
        <tr>
            <th>Server</th>
            <th>User</th>
            <th>Url</th>
            <th>Connection</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="credential : ${credentials}">
            <td th:text="${credential['server']}"></td>
            <td th:text="${credential['username']}"></td>
            <td th:text="${credential['url']}"></td>
            <td th:text="|sshpass -p '${credential['password']}' ssh -o StrictHostKeyChecking=no ${credential['username']}@${credential['url']}|"
                th:id="|credential_${credential['id']}|"></td>
            <td><a href="#" th:id="|${credential['id']}|" class="selector">Select</a></td>
            <td><a href="#" th:href="@{'/' + ${credential['id']} + '/edit'}">Update</a></td>
            <td><a href="#" th:href="@{'/' + ${credential['id']} + '/delete'}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</article>
</body>
</html>