<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include="masters/master :: page">
<head>
    <title th:fragment="title">Import SSH Credentials</title>
</head>
<body>
<article th:fragment="content">
    <form action="#" th:action="@{/edit}" th:object="${credential}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <label th:for="${#ids.next('server')}">Server: </label>
        <input type="text" th:field="*{server}"/>

        <label th:for="${#ids.next('username')}">Username: </label>
        <input type="text" th:field="*{username}"/>

        <label th:for="${#ids.next('password')}">Password: </label>
        <input type="text" th:field="*{password}"/>

        <label th:for="${#ids.next('url')}">Url: </label>
        <input type="text" th:field="*{url}"/>

        <div class="actions">
            <a href="/" name="back">Back</a>
            <button type="submit" name="update">Update</button>
        </div>
    </form>
</article>
</body>
</html>